strict-ssl=false
log-level=silly

# nexus registry on premise
@lbg:registry=https://nexus.sbx.zone/repository/npm/
@constellation:registry=https://nexus.sbx.zone/repository/npm/
registry=https://consumer-servicing.service.test.group/nexus_csvs_saturn/repository/npm-public/